<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Selenium Easy" parallel="methods" thread-count="4">
    <test name="Regression">
        <classes>
            <class name="tests.vienasA.LoginWithNoData"/>
            <class name="tests.vienasA.LoginWithValidData"/>
            <class name="tests.vienasA.SearchField"/>
            <class name="tests.vienasA.AddProductToCart"/>
            <class name="tests.vienasA.CartSettingsAndPurchase"/>
        </classes>
    </test>
</suite>